.stepButton {
    color: white;
    font-family: 'mainFont';
    font-size: 16px;
    width: 130px;
    height: 45px;
    border: none;
    border-radius: 6px;
    background-color: hsl(213, 96%, 18%);
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.stepButton.prev {
    left: 0;
    border: 1px solid hsl(213, 96%, 18%);
    background: none;
    color: hsl(213, 96%, 18%);
}
.stepButton.next {
    right: 0;
}

.stepButton.prev:hover, .stepButton.next:hover, .stepButton.restart:hover {
    transform: scale(0.93);
}
.stepButton.restart:hover {
    background: none;
    color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
}